@import '../../assets/styles/base/mixins';

:host {
    flex-basis: 50%;
    color: #fff;
}
.staked_coins {
    display: flex;
    height: 100%;
    @include max991 {
        border-radius: 10px 10px 0 0;
        background-color: #2b3768;
    }
    .title {
        background: linear-gradient(to right,#000,#500db3,#000);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1 1 35%;
        justify-content: center;
        border-radius: 50px 0 0 50px;
        @include max991 {
            border-radius: 10px 0 0 0;
//            background: transparent;  //fix for mobile ver
            padding: 12px 20px;
            align-items: flex-start;
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        flex: 1 1 65%;
        justify-content: center;
        border-radius: 0 50px 50px 0;
        background-color: #500db3;
        @include max991 {
            border-radius: 0 10px 0 0;
//            background: transparent;  //fix for mobile ver
        }
    }
    .amount {
        width: 100%;
        text-align: center;
        font-size: 25px;
        @include max991 {
            font-size: 14px;
            background: transparent;
        }
    }
    .distribution {
        width: 100%;

        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding-top: 4px;
        @include max991 {
            flex: 0 0 0;
            flex-direction: column;
            font-size: 14px;
            align-items: center;
            justify-content: start;
        }
        .supply_percentage {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 2px;
            padding-bottom: 2px;
            border-radius: 20px;
            color: #fff;
            font-size: 14px;
            background-color: rgba(#b30ca7, 1);
        }
        .supply_detail {
            @include max991 {
                padding-top: 4px;
            }
        }
    }
}
